.banner  {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/public/asserts/player.png') no-repeat center;
    background-size: cover;
    position: relative;
    height: 690px;
    max-width: 100%;
    filter:brightness(50%);
    float: left;
}
 